@import "tailwindcss";


html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(150%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

@layer utilities {
  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 3.8 step-end infinite;
  }
}

@media (max-width: 620px) {
  h2 {
    font-size: 32px;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.ul_steps li::before {
  position: absolute;
  content: "";
  background-color: #D4C4A8;
  top: 0;
  left: 0;
  height: 3px;
  width: 25%;
  transition: all 0.3s ease-in-out;
}

.ul_steps li:hover::before {
  width: 100%;
}

.navigation li {
  position: relative;
}

.navigation li::before {
  position: absolute;
  content: "";
  background-color: #D4C4A8;
  bottom: 0;
  left: 0;

  height: 3px;
  width: 5%;
  transition: all 0.2s ease-in-out;
}

.navigation li:hover::before {
  width: 100%;
  transform: translateX(0%);

}

footer .navigation {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0;
}

footer .navigation li::before {
  display: none;
}